* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-gray: rgb(51, 51, 51);
  --light-gray: rgb(221, 221, 221);
  --green: rgb(170, 255, 170);
  --red: rgb(255, 190, 190);
}

body {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 90px 1fr;
  height: 100vh;
}

#header {
  grid-column: 1/ 3;
  background-color: var(--dark-gray);
  color: white;
}

#sidebar {
  max-width: 400px;
  overflow-y: auto;
  background-color: var(--light-gray);
}

#main {
  padding: 20px;
}

#tasks-title {
  font-size: 35px;
  color: var(--dark-gray);
  margin-bottom: 20px;
}


h1 {
  font-size: 40px;
  height: 90px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

#sidebar {
  padding: 20px;
}

#home,
#projects-title {
  font-size: 20px;
  margin-bottom: 10px;
}

#projects-container {
  padding-left: 10px;
}

#projects-container>div {
  margin-bottom: 5px;
}

#task-form {
  border: 1px solid var(--light-gray);
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0,0,0, .15);
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 300px;
  padding: 20px;
  font-size: 20px;
}

label[for="title"] {
  margin-bottom: 5px;
}

#title,
#date {
  height: 25px;
  padding-left: 5px;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid var(--light-gray);
}



#title,
#radio-group {
  margin-bottom: 10px;
}

#date {
  margin-bottom: 15px;
}




#radio-group input[type="radio"] {
  display: none;
}

#radio-group label {
  display: inline-block;
  padding: 6px 12px;
  margin: 5px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

#radio-group input[type="radio"]#low+label {
  border: 2px solid green;
  color: green;
}

#radio-group input[type="radio"]#medium+label {
  border: 2px solid orange;
  color: orange;
}

#radio-group input[type="radio"]#high+label {
  border: 2px solid red;
  color: red;
}

#radio-group input[type="radio"]#low:checked+label,
#radio-group input[type="radio"]#low:hover+label {
  background-color: green;
  color: white;
}

#radio-group input[type="radio"]#medium:checked+label,
#radio-group input[type="radio"]#medium:hover+label {
  background-color: orange;
  color: white;
}

#radio-group input[type="radio"]#high:checked+label,
#radio-group input[type="radio"]#high:hover+label {
  background-color: red;
  color: white;
}

.buttons-row {
  display: flex;
  justify-content: space-between;
}

.add-button,
.cancel-button {
  padding: 10px 40px;
  border: 1px solid var(--dark-gray);
  border-radius: 10px;
}

.add-button {
  background-color: var(--green);
}

.cancel-button {
  background-color: var(--red);
}

#project-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 0 10px 10px 10px;
}

#project-name {
  height: 35px;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid var(--light-gray);
  padding-left: 5px;
}

#project-form button {
  padding: 8px 25px;
}

.high {
  border-left: 2px solid red;
}

.medium {
  border-left: 2px solid orange;
}

.low {
  border-left: 2px solid green;
}

.completed {
  color: grey;
  text-decoration: line-through;
}