* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 90px 1fr;
  height: 100vh;
}

#header {
  border: 1px solid;
  grid-column: 1/ 3;
}

#sidebar {
  border: 1px solid red;
  max-width: 400px;
  overflow-y: auto;
}

#main {
  border: 1px solid green;
}


h1 {
  font-size: 40px;
  height: 90px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

#task-form {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
}

.high {
  border-left: 2px solid red;
}

.medium {
  border-left: 2px solid orange;
}

.low {
  border-left: 2px solid green;
}

.completed {
  color: grey;
  text-decoration: line-through;
}